
@use 'variaveis';
@use 'hero';
@use 'trailer';
@use 'synopsis';
@use 'footer';
@use 'header';

@font-face{
    font-family: MinionPro;
    src: url(../../assets/fonts/MinionPro-Regular.woff);
    font-weight: 400;
}

@font-face{
    font-family: MinionPro;
    src: url(../../assets/fonts/MinionPro-Bold.woff);
    font-weight: 700;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: MinionPro,sans-serif;
}

body{
    background-color: variaveis.$corDeFundo;
    font-family: Minion, sans-serif;
    height:100%;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    @media (max-width:768px){
        height:80%;
        overflow-x: hidden;
    
    }
    @media (max-width:414px){
        height:80%;
        width: 80%;
        overflow-x: hidden;
    }
}
.click_trailer{
    width: 90%;
    position: absolute;
    padding-left: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-bottom: 100px;
    opacity: 1;
    display: none;

    @media (max-width:768px){
        height:80%;
        overflow-x: hidden;
    
    }
    @media (max-width:414px){
        height:30%;
        width: 30%;

    }

    @media (max-width:375px){
        height:30%;
        width: 30%;

    }

}

.appear{
    display: block;
}
.scroll-aparecer{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-bottom: 100px;
    opacity: 1;

    @media (max-width: 768px) {
        margin-left: 10px;
        margin-bottom: 200px;
        height: 500px;
    }
}

.open { display: none; }


@mixin text($fontSize:17px) {
    font-size: $fontSize;
    color:variaveis.$corTextoSecundario;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}


.title--big{
    @include title(44px);
    
    @media (max-width: 768px) {
        @include title(26px);
    }
    
}


.title{ 
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small{
    @include text (28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.text--big{
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text{
    @include text;

    @media (max-width: 768px) {
        @include text(16px);
    }
}

.text--small{
    @include text (12px);
    font-family: MinionPro, sans-serif;
    font-weight: normal;

    @media (max-width: 768px) {
        @include text(11px);
    }
    @media (max-width: 414px) {
        @include text(8px);
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundo;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;


    &--secondary{
        background-color: variaveis.$corDeFundo;
        border-color: variaveis.$corDeFundo;

        &:hover {
            background-color: lighten(variaveis.$corDeFundo, 3%);
        }
    }

    &--dark{
        background-color: rgba(variaveis.$corDeFundo, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}   




.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline
}
    
.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }
    
    img{
        max-width: 100%;
    }

    &__text_container{
        padding: 0 2vw;
        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text_container{
            position: absolute;
            top: 0;
            left:50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
            
        }
    }
}

.js .anime_video {
	opacity: 0;
	transform: translate3D(-200px, 0px, 0px);
}
.js .anime_text{
	opacity: 0;
    transform: translate3D(0px, 0px, 0px);

}
.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
    transition: .8s all ease;
}
