@use 'variaveis';

.synopsis{
    margin-top: 100px;
    width: 100vw;
    height: 140vh;
    margin-bottom: 10px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variaveis.$corDeFundo;
    background-color:variaveis.$corDeFundoSecundaria;
    color: variaveis.$corTextoSecundario;
    text-align: center;

    @media (max-width: 768px) {
        padding-left: 0px;
        height: 330vh;
        width: 100vw;
    }

    @media (max-width: 414px) {
        padding-left: 0px;
        height: 250vh;
    }

    &__logo{
        margin: 0 auto;
        max-width: 10vw;
        padding-top: 20px;
            img{
            width: 200px;
            height: 80%;
            @media (max-width: 768px) {
                width: 80px;
                height: 300%;
            }
        }
    }

    &__container{
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        line-height: 1.2vw;
        @media (max-width: 768px) {
            letter-spacing: 3.5px;
            line-height: 3.2vw;
        }
        p{
            margin: 30px 370px;
            text-align: left;
            padding-bottom: 50px;
            padding-top: 2px;
            @media (max-width: 768px) {
                margin:0px 100px;
                padding-bottom: 30px;
                padding-top: 30px;
            }
        }
    }
}

