@use 'variaveis';

.synopsis{
    min-height:100%;
    background-color:variaveis.$corDeFundoSecundaria;
    color: variaveis.$corTextoSecundario;
    text-align: center;
    padding-bottom: 50px;
    &__logo{
        margin: 0 auto;
        max-width: 10vw;
        padding-top: 20px;
            img{
            width: 200px;
            height: 80%;
        }
    }

    &__container{
        margin: 0 auto;
        letter-spacing: 1.5px;
        line-height: 1.2vw;
        
        p{
            margin: 30px 370px;
            text-align: left;
            padding-bottom: 50px;
            padding-top: 2px;
        }
    }
}

