@use 'variaveis';

.synopsis{
    margin-top: 200px;
    width: 100%;
    height: 140vh;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    background-color:variaveis.$corDeFundoSecundaria;

    @media (max-width: 1024px) {
        height: 260vh;
    }
    &__logo{
        margin: 0 auto;
        max-width: 10vw;
        padding-top: 20px;

        @media (max-width: 640px) {
            padding-right: 80px;
        }
            img{
            width: 200px;
            height: 80%;

            @media (max-width: 640px) {
                width: 100px;
                height: 80%;
            }
            @media (max-width: 1024px) {
                width: 100px;
            }
        }
    }

    &__container{
        margin-bottom: 10px;
        letter-spacing: 2.0px;
        line-height: 1.5vw;
        background-color:variaveis.$corDeFundoSecundaria;
        color: variaveis.$corTextoSecundario;

        @media (max-width: 640px) {
            height: 3000px;
            background-color:variaveis.$corDeFundoSecundaria;
        }
    
        @media (max-width: 1024px) {
            letter-spacing: 3.5px;
            line-height: 3.2vw;
        }

        p{
            margin: 30px 370px;
            text-align: left;
            padding-bottom: 50px;
            padding-top: 2px;
            @media (max-width: 640px) {
                margin: 30px 50px;
                letter-spacing: 3.5px;
                line-height: 6.2vw;
            }
            @media (max-width: 1024px) {
                margin: 30px 60px;
            }
        }
    }
}

