@use "variaveis";

.trailer{
    width: 100%;
    height: 100vh;
    display: block;
    @media (max-width:768px){
        margin-bottom: 100px;
        height: 120vh;
        margin-left: 24px;
    }
    @media (max-width:414px){
        height: 70vh;
        margin-left: 20px;
    }
    @media (max-width:375px){
        height: 70vh;
        margin-left: 24px;
    }

    h1{
        padding-bottom: 50px;
        text-align: center;
        color: variaveis.$corTextoPrincipal;
        font-family: MinionPro, sans-serif;
        font-weight: normal;
        letter-spacing: 0.5px;
        @media (max-width: 1300px) {
            padding-left: 80px;
        }
        @media (max-width: 768px) {
            text-align: left;
            padding-left: 300px;
        }
        @media (max-width:414px){
            font-size: 18px;
            padding-left: 160px;
            padding-bottom: 20px;
        }
        @media (max-width:375px){
            font-size: 18px;
            padding-left: 140px;
            padding-bottom: 20px;
        }
    }
    &__container{
        max-width: 1100px;
        &__video{
            width: 100%;
            height:640px;
            margin-left: 36vh;
            border: 1px solid variaveis.$corTextoPrincipal;
            @media (max-width: 768px) {
                width:540px;
                height: 350px;
                margin-left: 9vh;
            }
            @media (max-width:414px){
                max-width: 300px;
                height: 200px;
                margin-left: 40px;
            }
            @media (max-width:375px){
                max-width: 300px;
                height: 190px;
                margin-left: 14px;
            }
            @media (max-width:360px){
                max-width: 300px;
                height: 190px;
            }
            
        }
    }
}

.click_trailer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 1;
    display: none;
    margin-left: 0;
}

.appear{
    display: block;
}